<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
      <app-left [playlists]="playlists"></app-left>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div (click)="drawer.toggle()">  <app-home [osbrabos]="osbrabos" [playlists]="playlists"></app-home></div>
    </div>
  
  </mat-drawer-container>
  