<div class="header">


    <h1 (click)="osBrabo()"> Os brabos</h1>

    <div *ngFor="let  item of items" style="margin-left:100px;margin-top:50px;display:inline-flex;" >

     <div style="width:200px;height: 200px;margin-right: 25px;" >
            
            <img [src]="item.uri"style="height:200px" (click)="showItem(item)">
            <div style="font-weight: bold;" >
                {{item.nome_musica}}
            </div>
     </div>

     <div style="display:grid">
        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <mat-icon (click)="like(item)">favorite</mat-icon>
        <mat-icon (click)="share(item)">share</mat-icon>
     </div>




    </div>



</div>