<h1 mat-dialog-title>Hi {{data.music.name}}</h1>
<div mat-dialog-content>
  
    <input matInput [(ngModel)]="musica.cantor"class="input">
    <input matInput [(ngModel)]="musica.nome"class="input">
 
</div>
<div mat-dialog-actions>
  <button mat-button (click)="teste()">No Thanks</button>
  <button mat-button  *ngIf="edit"  (click)="updateMusica()"style="margin-left:30px;">UPDATE</button>
  <button mat-button  *ngIf="!edit"  (click)="updateMusica()"style="margin-left:30px;">INCLUIR</button>
</div>
